.on-off-bulb{
    margin-top: 10%;
    text-align: center;
}
body{
    background-color: aliceblue;
}
button{
    padding: 10px 30px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
}
h1{
    text-transform: uppercase;
}
img{
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
}